body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.quizz-container {
    background-color: #F7EDDA;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 25vh;
}

.quizz-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;   
}

.quizz-container button:hover {
    width: 100%;
    padding: 10px;
    background-color:  #0d6605;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;   
}