
.add-friend-container {
    position: relative;
    height: 100vh;
    width: 100%;
    max-height: 512px;
    max-width: 512px;
    background: #F7EDDA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15vh auto;
}

.add-friend-container input {
    width: 80%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}

.add-friend-container button {
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    cursor: pointer;
}

.add-friend-container img {
    width: 256px;
    height: 64px;
}